.Title {
    text-align: center;
    font-family: Andale Mono, monospace;
    background-color: rgb(197, 252, 252);
    font-size: 150%;
    line-height: 300%;
    width: 100%;
    height: 100%;
}
    
.Title2 {
    text-align: center;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    font-size: 150%;
    margin-bottom: -50px;
}
    
.Info {
    text-align: center;
    text-indent: 100x;
    height: 60px;
    font-family: Verdana, monospace;
    left: 20x;
}
    
.Bullets{
    text-align: center;
    font-family: Verdana, monospace;
    margin-top: 85px;
    margin-bottom: -80px;
}